$verdeRaptor: #28a745;

body {
    background-color: $verdeRaptor;
}

.navbar, .btn-primary {
    background-color: $verdeRaptor;
    border-color: $verdeRaptor;
    color: #fff;
}

.navbar-brand {
    color: #fff;
    img {
        max-width: 60px;
    }
}

.navbar-nav .nav-link,
.table {
    color: #fff;
}

.jumbotron,
.main {
    background-color: #343a40;
    color: #fff;
}

.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container.cta {
    padding: 2rem;
}

.footer {
    margin-top: 1rem;
    background-color: $verdeRaptor;
    color: #fff;
    height: 50px;
    padding: 15px;
}

.footer p {
    margin: 0;
    line-height: 50px;
    font-size: 14px;
}

.box {
    width: 100%;
    min-height: 320px;
    color: black;
    text-align: center;
}

.box-text {
    position: relative;
    background: #777777;
    border-top: 1px solid #ccc;
    padding: 1rem 0;
}